* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;

}

.top__heading {
    width: 510px;
    font-size: 64px;
    color: #1f3f68;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__text {
    width: 425px;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;

}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.main {
    display: flex;
}


.project__img {
    width: 100%;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_mrg {
    margin-right: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text2 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.project__text3 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;

}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__text {
    width: 495px;
}

.footer__heading {
    width: 340px;
    text-align: left;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.text__footer {
    color: #ffffff;
}

.hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

.footer__bottom {
    color: #FFFFFF;
}

.footer__info {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;

}

.footer__list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 32px;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer__list:first-child::before {
    content: '1.';
    display: block;
    margin-right: 16px;
}

.footer__list:nth-child(n+2)::before {
    content: '2.';
    display: block;
    margin-right: 16px;
}

.footer__list:last-child::before {
    content: '3.';
    display: block;
    margin-right: 16px;
}

.footer__copy {
    margin-top: 64px;
}

.footer__copy-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.input-text {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-sibmit {
    background: #5A98D0;
    box-shadow: 5px 20px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 124px;
        padding-right: 124px;
    }

    .top__info {
        background-position: right 280px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 48px;
    }


    .footer__button {
        padding: 4px 31px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__list {
        margin-bottom: 24px;
    }

}

@media (max-width: 667px) {

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        padding: 24px;

    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        background-image: none;
        align-items: center;
    }

    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 12px;
    }

    .top__text {
        width: 100%;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .card-box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text_project {
        width: 100%;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item_mrg {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text2 {
        font-size: 16px;
        line-height: 19px;
        top: 26px;
        left: 16px;
    }

    .project__text3 {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .footer__heading {
        text-align: center;
        width: 75%;
        margin: 0 auto 32px;
    }

    .footer__top {
        flex-direction: column;
        padding-bottom: 41px;
    }

    .footer__text {
        width: 100%;
    }

    .text__footer {
        text-align: center;
        margin-bottom: 40px;
    }

    .footer__list {
        margin-bottom: 18px;
    }

    .footer__copy {
        margin-top: 32px;
    }
}

/*contacts*/

.hct {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
    padding-bottom: 50px;

}

.contacts-header {
    margin: 55px auto 57px;
    background-image: url(img/backgrad.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;


}

.heading-contacts {
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 51px;
    padding-bottom: 16px;

}

.middle {
    display: flex;
    margin-top: 65px;
    padding-bottom: 96px;
    justify-content: space-between;


}

.contacts-info {
    margin-top: 140px;
    margin-left: 65px;
}


.form {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 56px;
    margin-right: 65px;

}

.heading-mini {
    margin-bottom: 48px;
}

.heading-mini_ctc {
    margin-bottom: 24px;
    margin-top: 48px;
}

.input-text {
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 21px;
    margin-top: 8px;

}


.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 23px 183px;
    color: #FFFFFF;
    margin-top: 72px;
}

.map {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}